{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 14/09/2019</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aut dicta quaerat, doloremque asperiores perferendis?</p>
            <p>Rerum officiis asperiores modi, possimus ratione officia quam at similique excepturi, molestias enim id quaerat.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor alias maiores ipsum dolorum molestiae tenetur, repellat excepturi laboriosam blanditiis voluptatibus officia non sint corporis! Nostrum distinctio debitis minima suscipit dolores quaerat fugit vitae animi ad est voluptatem molestias officiis, doloremque perferendis pariatur qui excepturi quo quam? Eligendi eveniet necessitatibus officiis.</p>
            <p>Ad fugiat totam reiciendis veniam dolorem quaerat maiores nemo sapiente quae enim consequatur at iure voluptate adipisci beatae, illum doloremque soluta dolores iste saepe non officiis in hic praesentium. Molestiae architecto ex obcaecati ducimus debitis earum ratione repellendus atque! Eos fugiat similique at impedit doloremque repellat dignissimos labore ipsum enim.</p>
        </div>
    </article>
{% endblock %}